apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configurations:
- kustomizeconfig/operatorgroup.yaml

namespace: quay-enterprise

resources:
- quay-enterprise-namespace.yaml
- quay-operatorgroup.yaml
- quay-operator-subscription.yaml

vars:
- fieldref:
    fieldPath: metadata.namespace
  name: NAMESPACE
  objref:
    apiVersion: operators.coreos.com/v1alpha1
    kind: Subscription
    name: quay-operator
